h1 {
    color: black;
    background-color: #E2ECBA;
    font-size: 16px;
    height: 50px;
    line-height: 50px;  /* Add this line to center the text vertically */
    border-left: 5px solid #83A749;  /* Add this line to add a border to the left */
    font-weight: bold;
    padding-left: 10px;  /* Add this line to create some space */
}

h2 {
    color: 4699CA;
    font-size: 16px;
    height: 30px;
    line-height: 30px;  /* Add this line to center the text vertically */
    border-left: 3px solid #83A749;  /* Add this line to add a border to the left */
    padding-left: 10px;  /* Add this line to create some space */
    margin-top: 30px;  /* Add this line to create some space */
    margin-bottom: 5px;  /* Add this line to create some space */
}

header{
    display: flex;
}

.home{
    color:white;
    background-color:#83A749;
    height: 50px;
    width:calc(100% - 140px);
    padding-left: 20px;  /* Add this line to create some space */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.order {
    color:white;
    background-color:#83A749;
    height: 50px;
    width:140px;
    display: flex;
    padding-right: 0px;  /* Add this line to create some space */
    align-items: center;
}

.face_logo {
    background-color:#83A749;
    display: flex;
    align-items: center;
    width:  16px;
    height: 16px;
    padding-top: 15px;
    padding-bottom: 19px;
    padding-left:17px;
    padding-right:17px;
}

.speech-container {
    display: flex;
    align-items: center; /* テキストを上下中央に配置 */
}

.definition-container {
    border: double 4px #000;
    padding: 10px;
    margin-left:10%;
    margin-right:10%;
}
.child-txt {
    background-color: #CEE7D7;
    color:black;
    display: flex;
    align-items: center; /* 画像とテキストを垂直方向に中央揃え */
    padding: 8px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-top:5px;
    margin-bottom:5px;
    margin-right: 120px;
}

.hakase-txt {
    background-color: #CDE8E9;
    color:black;
    display: flex;
    align-items: center; /* 画像とテキストを垂直方向に中央揃え */
    padding: 8px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    margin-left: 75px;
    margin-top:5px;
    margin-bottom:5px;
    flex-basis: 90%;
}

.child-pic{
    max-width: 60px;
    height: auto;
    display: block;
    margin-left:15px;
    margin-right:5px;
    border: 5px solid #CEE7D7;
    border-radius: 50%;
}

.hakase-pic{
    width: 60px;
    height: auto;
    display: block;
    margin-left:10px;
    margin-right:15px;
    flex-basis: 10%;
    border: 5px solid #CDE8E9;
    border-radius: 50%;
}